*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body{
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: linear-gradient(135deg, #fff5e6, #52143d);
}
h1{
	color: white;
}
.container{
	max-width: 720px;
	width: 100%;
	background: #fff;
	padding: 25px 30px;
	border-radius: 5px;
}

.btn {
	background-color: #52143d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;
}

.btn:hover{
	background-color: #52143d;
	color: white;
	transform: scale(1.1);
	border: 2px solid transparent;
}