*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body{
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color:  #67a2aa;
}
h1{
	color: #092d31;
}
.container{
	max-width: 600px;
	width: 100%;
	background: #fff;
	padding: 25px 30px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container1{
	max-width: 500px;;
	margin: 50px auto;
  padding: 30px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;

}
.btn {
	background-color: #072E33;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;

}

.btn:hover{
	border: 2px solid #072E33;
	transition: transform .4s;
	color: #072E33;
	background-color: transparent;
	cursor: pointer;
}

